
datawh_certification.code-workspace
# --- dbt Específicos ---
target/
logs/
dbt_packages/
dbt_modules/

# --- Python y Entornos
.venv/
venv/
env/
bin/
lib/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.python-version


*.db
*.sqlite
*.sqlite3
*.csv
*.xlsx

# --- Configuración y Secretos ---
profiles.yml
.env
.DS_Store