# Proveedores principales
astronomer-cosmos
apache-airflow-providers-snowflake
apache-airflow-providers-amazon
# Librerías para tus scripts de Python
pandas
python-dotenv
requests
boto3

# Opcional: si usas Slack para alertas
apache-airflow-providers-slack